<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form th:action="@{/user/new}" th:object="${newUser}" method="post">
    <p><input type="text" th:field="*{userName}" placeholder="Login"/></p>
    <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">You need to enter more characters</p>
    <p><input type="password" th:field="*{password}" placeholder="Password"/></p>
    <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">You need to enter more characters</p>
    <p><input type="text" th:field="*{firstName}" placeholder="First Name"/></p>
    <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">You need to enter more characters</p>
    <p><input type="text" th:field="*{lastName}" placeholder="Last Name"/></p>
    <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">You need to enter more characters</p>
    <p>
        <select th:field="*{role}">
            <option th:value="'USER'" th:text="User"></option>
            <option th:value="'ADMIN'" th:text="Admin"></option>
        </select>
    </p>
    <button type="submit">Add user</button>
</form>
</body>
</html>